<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" crossorigin="anonymous">
  <title>Lista de Juegos</title>
</head>
<body class="container mt-5">
  <h1>Juegos</h1>
  <a href="/add-game" class="btn btn-primary mb-3">Añadir Juego</a>
  <ul class="list-group">
    <% games.forEach(game => { %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= game.title %> - <%= game.genre %>
        <form action="/delete-game/<%= game._id %>" method="POST">
          <button type="submit" class="btn btn-danger btn-sm">Borrar</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>
